
.num{
    position:relative;
    left:54%;
    font-size:55px;
    display:inline-block;
    top:30px;
    font-family:arial;
    padding-left:0px;
  }
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body{
    background:#22313F;
  }
  #m{
    width:300px;
    height:400px;
    background:#00B16A;
    margin-left:39%;
    margin-top:50px;
    border-radius:4px;
    position:relative;
  }
  #buttons .b{
    position:relative;
    border:none;
    font-size:30px;
    width:60px;
    height:60px;
    margin-bottom:5px;
    margin-left:10px;
    top:300px;
    left:25%;
    font-family:'Roboto';
    font-weight:700;
    cursor:pointer;
    background:white;
    display:inline-block;
  }
  #b1{
    color:#2CC990;
    text-align:center;
    padding-top:11.5px;
  }
  #b2{
    color:#E3000E;
    text-align:center;
    padding-top:11.5px;
    position:absolute;
    left:100px;
    
  }
  #nums{
    position:absolute;
    top:130px;
    text-align:center;
    left:-27%;
    color:white;
  }
  #whenlose{
    background:transparent;
    width:300px;
    height:400px;
    position:absolute;
    font-family:'Roboto',sans-serif;
    font-weight:600;
    top:0px;
    border-radius:3px;
  }
  #lose{
    border:none;
    position:absolute;
    width:100px;
    height:50px;
    background:transparent;
    color:transparent;
    font-family:'Roboto',sans-serif;
    font-weight:600;
    font-size:17px;
    cursor:pointer;
    letter-spacing:1px;
    left:32.9%;
    top:230px;
    border-radius:2px;
    text-align:center;
    padding-top:14.5px;
    cursor:pointer;
  }
  #lose:hover{
    opacity:0.6;
  }
  #time{
    background:white;
    height:20px;
    width:270px;
    position:absolute;
    left:15px;
    top:74px;
  }
  @keyframes time{
    0%{
      width:270px;
    }
    100%{
      width:0px;
    }
  }
  .anim{
    animation:time 1.2s ease-in-out 1;
  }
  .pause{
    animation-play-state:paused;
  }
  .b img{
    width:35px;
    height:35px;
    position:absolute;
    right:12px;
    top:13px;
  }
  #b2:hover{
    opacity:0.8;
  }
  #b1:hover{
    opacity:0.8;
  }
  #scor{
    position:absolute;
    top:85px;
    font-size:19px;
    font-family:'Roboto',sans-serif;
    background:rgb(29, 171, 184);
    width:300px;
    height:100px;
    text-align:center;
    color:#fff;
    letter-spacing:1.2px;
    padding-top:30px;
  }
  @keyframes game{
    0%{
      left:0px;
    }
    20%{
      left:30px;
    } 
    40%{
      left:-30px;
    }
     60%{
      left:30px;
    }
     80%{
      left:-30px;
    }
    100%{
      left:0;
    }
  }