
body {
  /* margin-left: 20px;
  margin-right: 20px; */
  font-size: 13px;
  font-weight: 350;
  line-height: 1.5;
  font-family: "Helvetica";
  color: #000;
}
.heading{
  letter-spacing: 3px;
  font-weight: 540;
  font-style: bold;
  font-size: 19px;
}
/*header*/
.headericon{
  list-style-type: none;
  width: 100%;
  height: 30px;
  display:flex;
  float: right;
  justify-content: flex-end;
}
.icon1{
  color:black;
  margin-left: 15px;
  font-size:15px; 
}
.icon1 a:hover{
  color: green;
}
/*header item*/
.header_item{
  border-top: 1px solid rgb(0,0,0,0.3);
  list-style-type: none;
  display: flex;
  justify-content:space-between;
  background-color:#fff;
  width: 100%;
  height: 100px;
}
.item_logo{
 list-style-type: none;
}
.item_navbar{
  list-style-type: none;
  width:50% ;
  display: flex;
  justify-content: space-evenly;
}
.navbar a{
   color: black;
   text-align: center;
   display: block;
   text-decoration: none;
   margin-top: 20px;
   font-size: 20px;
}
.navbar a:hover{
  color: green;
}
.item_icon{
  list-style-type: none;
  display:flex;
  float: right;
  margin-top: 30px;
  font-size: 20px;
  margin-right: 50px;
}
.item__icon{
   margin-left: 40px;
}
.header_navbar{
  position: absolute;
  width: 200px;
  background-color:#fff;
  margin-top: 15px;
  transform-origin: top left;
  animation: headernavbar ease-in 0.2s;
  display: none;
}
@keyframes headernavbar{
  from{
    transform:scale(0);
  }
  to{
    transform: scale(1);
  }
}
.navbar:hover .header_navbar{
  display: block;
  list-style: none;
}
.header_navbar-sanpham a{
  color: #000;
  display: block;
  list-style-type: none;
  text-decoration: none;
  font-size: 15px;
  text-align: left;
  list-style: none;

}
.header_navbar-sanpham{
  list-style: none;
}
/*header list*/
.header_list{
  background-color:rgb(0, 128, 60);
  justify-content: space-evenly;
  width: 100%;
  height: 45px;
  display: flex;
}
.list-js,.list-js__2,.list-js__3,.list-js__4{
  color: #fff;
  cursor: pointer;
  border: 0px;
  background-color:rgb(0, 128, 60);
}
.slider{
  width: 100%;
  height: 460px;
  background-image: url('slide-1.jpg');
  background-size: 100%;
}

.control{
  color:white;
  font-size: 25px;
  text-align: center;
  transform: translateY(calc(230px - 50%));
}

.prev{
  float: left;
}
.next{
  float:right;
}
.header_header a:hover{
  color:red;
}
/*classify*/
.header_header{
  background-color:#fff;
  width: 100%;
  height: 180px;
  margin-top: 20px;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}
.header_header a{
 color:black;
 text-align: center;
 display: block;
 text-decoration: none;
 line-height: 150px;
 align-items: center;
}
.header_header1{
  height: 175px;
  width: 340px;
  background-image:url('http://cdn0308.cdn4s.com/media/danh-muc/danh-muc-1%20(3).jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.header_header2{
 height: 175px;
 width: 340px;
 background-image:url('http://cdn0308.cdn4s.com/media/danh-muc/danh-muc-1%20(2).jpg');
 background-size: 100%;
 background-repeat: no-repeat;
}
.header_header3{
 height: 175px;
 width: 340px;
 background-image:url('http://cdn0308.cdn4s.com/media/danh-muc/danh-muc-1%20(4).jpg');
 background-size: 100%;
 background-repeat: no-repeat;
}
.header_header4{
 height: 175px;
 width: 340px;
 background-image:url('http://cdn0308.cdn4s.com/media/danh-muc/danh-muc-1%20(1).jpg');
 background-size: 100%;
 background-repeat: no-repeat;
}
.select{
  margin-top: 80px;
}
/*select1*/
.select1{
  background-color:#fff;
  width: 100%;
  height: 210px;
  margin-top: 80px;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}
.table,th,td{
  width: 320px ;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
}
.haz_hubs{
  height: 170px;
  width: 300px;
  background-image:url('http://cdn0308.cdn4s.com/media/danh-muc/danh-muc-1%20(2).jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:20px 0;
}
.haz_hubs a:hover{
  color: green;
}
.haz_cap{
  height: 170px;
  width: 300px;
  background-image:url('http://cdn0308.cdn4s.com/media/danh-muc/danh-muc-1%20(4).jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20px 0;
}
.haz_cap a:hover{
  color:green;
}
.haz_hubs a,.haz_cap a{
  color:black;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 350px;
  align-items: center;
}

.table_tb2{
  border: 1px solid black;
  border-radius: 12px;
  height: 200px;
  width: 320px;
  margin-right: 200px;
}

.table_tb1{
  border: 1px solid black;
  border-radius: 12px;
  height: 200px;
  width: 320px;
  margin-left: 200px;
}
.select2{
  margin-top:30px;
  text-align: center;
}
/*body*/
.item-header{
  margin-top: 20px;
  font-size: 2.5rem;
  text-align: center;
}
.item-border{
  position: relative;
}
.item-list__img{

  position: relative;
  display: block;
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 6px 0 5px 0 rgba(0,0,0, 0.6);
  text-decoration: none;
  margin-top: 20px;
}

.item-list__img--display{
  display: block;
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  will-change: display;
  animation: hidden linear 1s;
}

@keyframes hidden{
  from{
      opacity: 0;
      transform: scale(1);
  }
  to{
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes disappear{
  from{
      opacity: 0;
      transform: scale(1);
  }
  to{
      opacity: 1;
      transform: scale(1);
  }
}
.item-list__img--hidden{
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  animation: disappear linear 0.8s;
  display: none;
}

.item-list__img:hover .item-list__img--display{
  
  display: none;
}

.item-list__img:hover .item-list__img--hidden{
  display: block;
}

.item-list__img--option{
  position: absolute;
  top:220px;
  right:210px;
  display: none;
  animation: zoom ease-out 0.5s;
  will-change: opacity,transform;
}

@keyframes zoom{
  from{
      opacity: 0;
      transform: scaleX(0);
  }
  to{
      opacity: 1;
      transform: scaleX(1);
  }
}
.item-list__img--option-list{
  display: flex;
  position: absolute;
  list-style: none;
  padding-left: 0;
  
}

.item-list__img--option-item{
  margin: 5px;
  display: flex;
  align-items: center;
}

.item-list__img--option-link{
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.4rem;
  padding: 10px;
}
.item-list__img--option-link:hover{
  background-color: var(--black-color);
  color: var(--white-color);
}

.item-border:hover .item-list__img--option{
  display: block;
}

.item-list__img--outstand{
  position: absolute;
  top:30px;
  left:  -6px;
  color: var(--white-color);
  background-color: #f53e2d;
  padding: 5px 10px;
  border-top-right-radius:3px ;
  border-bottom-right-radius: 3px;
}

.item-list__img--outstand::before{
  content: "";
  position: absolute;
  border-top: 10px solid   #f53e2d;
  border-left:10px solid  transparent;
  top: 29.5px;
  left: 0;
  filter:brightness(70%);
  

}

.item-list__description{
  margin-top: 10px ;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.7rem;
  margin-bottom: 10px;
}

.item-list__description-title{
  text-decoration: none;
  color: var(--black-color);
  position: relative;
  transform: top translateY(1px) 0.1s;
}

.item-list__description-title:hover{
  color:#f53e2d ;
  top:-2px;
}

.item-list__price{
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  margin: 1px;
}

.item-list__price-num{
  color: #f53e2d;
}

.item-list__price-star{
  color: #edc71a;
}

:root{
  --text-color:#333;
  --white-color:#fff;
  --black-color:#000;
  --main-color:#f6f6f6;
}
*{
  box-sizing: inherit;
}
html{
  font-family:"Helvetica", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: var(--main-color);
}

.item-footer{
  text-align: center;
  margin-top: 10px;
}

.item-footer__btn{
  border: none;
  font-size: 1.7rem;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color ease 0.5s;
  will-change: background-color;
}

.item-footer__btn:hover{
  background-color: #009156;
}

/* grid */

.grid{
  width: 1850px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full--width{
  width: 100%;
}

.grid__row{
  display: flex;
  align-items: center;
  margin: 0 -5px;
  flex-wrap: wrap;
}


.grid__column-4{
  margin: 5px;
  width: 21%;
}
/*footer*/
.footer{
  margin-top: 50px;
}
.boxcenter{
  display:flex;
  justify-content: space-between;
  width: 100%;
  height: 450px;
  background-color: white
}

.row2{
  width: 30%;
  font-size:15px
}

.table{
  margin-top: 20px;
 position: absolute;
 width: 100%;
 height: 400px;
 background-color:#fff;
 display: flex;
}

.table1{
 width: 50%;
 background-color: white;
}

.icon-container{
 display:flex;

}

.icon{
 display:flex;
 font-size: 25px;
 margin-right: 30px
}

.table2{
 list-style-type: none;
 width: 25%;
 overflow: auto;
}
.table3{
 width: 25%;
 background-color:#fff;
}

.row_boxfooter2 a:hover,.icon a:hover{
  color: green;
}

.icon a,.row_boxfooter2 a{
  text-decoration: none;
  color: black;
  }

.hrColor{
      border-top: 1px solid rgba(255,255,255,0.5);
  }
  
.copyright{
      margin-top: 450px;
      text-align: center;
      cursor:auto;
      font-size: 13px;
  }
footer{
  display: block;
}
/*sanpham*/
.home_page{
  width: 100%;
  height: 100px;
  background-color:#fff;
  padding-left: 40px;
  padding-top: 20px;
}
.home_page a{
  color: #000;
  text-decoration: none;
}
.product{
  width: 100%;
  height: 700px;
  background-color:#fff;
  display: flex;
}
.product_list{
  text-align: left;
  width:20%;
  height: 400px;
  margin-left: 0;
  background-color: #f6f6f6;
  list-style-type: none;
  font-size: 15px;
}
.product_list a{
  color: #000;
  text-decoration: none;
}
.product_list a:hover{
  color: green;
}
.ngunam-docking,.ngunam-hub,.ngunam-cap,.ngunam-phukien{
  list-style-type: none;
  margin-bottom: 20px;
}
.ngunam-cap a{
  color: green;
  font-size: 20px;
}
.product_container{
  margin-left: 20px;
  width: 85%;
  height: 100%;
  background-color: #fff;
}
.product_header{
  display: flex;
  justify-content:space-between;
  padding: 5px 5px 8px 5px;
  width: 100%;
  background-color: #f6f6f6;
  height: 50px;
}
.product_header-sort{
  padding-right: 20px;
}
.product_header h3{
  transform: translateY(-6px);
}
